
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">¡Bienvenido al bot de Telegram!</h1>
    <p>Esta es la página de inicio.</p>
    <img src="~/images/bot-qr-telegram.jpg" alt="Link al perfil del chatbot en Telegram" />
</div>
